<nav class="navbar navbar-expand-lg navbar-light shadow-5-strong ">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="../../assets/image/logo.png" class="img-fluid" alt="Responsive image" width="50px">
    </a>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All events</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item dropdown p-1">
          <button class="nav-link dropdown-toggle   " style="border-radius:20px;color: white ; background-color: orangered; border: 5px black;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            &nbsp; Join Us
        </button>

      


          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="\app-login"  routerLinkActive="active">Sign In</a></li>
            <li><a class="dropdown-item" routerLink="\app-login"  routerLinkActive="active">Register</a></li>
          </ul>
        </li>
      
        </ul>
      </form>
    </div>
  </div>
</nav>